<link rel="stylesheet" href="https://refreshless.com/nouislider/distribute/nouislider.min.css">
<link rel="stylesheet" href="http://materializecss.com/extras/noUiSlider/nouislider.css">


<section class="box">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col s12">
                <div id="events">
                    <h2 class="heading"> Dashboard </h2>

                    <ul class="alert-box">
                        {{#if success_msg}}
                            <li class="alert success-msg"> {{success_msg}} </li>
                        {{/if}}

                        {{#if error_msg}}
                            <li class="alert error-msg"> {{error_msg}} </li>
                        {{/if}}
                    </ul>

                    <!-- Select company -->
                        <div class="input-field col s2">
                            <select class="selectCompany">

                                {{#each companies}}
                                    <option value="{{_id}}"> {{name}} </option>
                                {{/each}}

                            </select>

                                {{#unless companies}}

                                {{else}}
                                    <label class="selectCompanyLabel">Select a company</label>
                                {{/unless}}
                        </div>

                    <!-- Search bar
                    <div class="searchBar left">
                        <div class="input-field s6">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="search-input" class="search">

                            <label for="search-input">Search</label>
                            <span class="helper-text"> name or date</span>
                        </div>
                    </div>

                    <span class="sort small btn" data-sort="type">Sort by type</span>
                    <span class="sort small btn" data-sort="status">Sort by status</span>
                    -->

                    <input type="hidden" id="userID" value="{{user._id}}">

                    <!-- Add Event Button -->
                    <div class="addEventBtn right">
                        {{#if companies}}
                            <a class="waves-effect waves-light btn-large button-secondary modal-trigger" href="#add-event-modal">
                                <i class="material-icons left">add</i>
                                <span> Add Event </span>
                            </a>

                        {{else}}
                            <a class="waves-effect waves-light btn-large button-secondary modal-trigger disabled" href="#add-event-modal">
                                <i class="material-icons left">add</i>
                                <span> Add Event </span>
                            </a>
                        {{/if}}
                    </div>

                    <!-- Add Event Form -->
                    <div id="add-event-modal" class="PopUpWindow modal customModal">
                        <div class="modal-content">
                            <a href="#!" class="modal-action modal-close">
                                <i class="material-icons right">close</i>
                            </a>
                            <h4 class="PopupHeading">Add Event </h4>

                            <form id="addEventForm" action="/api/events" method="POST">

                                <!-- Type -->
                                <div class="input-field col s6">
                                    <select name="type" class="eventTypes">
                                        <option value="None" disabled selected>Choose an option</option>
                                        <option value="Wedding">Wedding</option>
                                        <option value="Engagement">Engagement</option>
                                        <option value="Holy Communion">Holy Communion</option>
                                        <option value="Christening">Christening</option>
                                        <option value="Birthday">Birthday</option>
                                        <option value="Anniversary">Anniversary</option>
                                        <option value="Graduation">Graduation</option>
                                    </select>
                                    <label>Event Type <span class="requiredField">*</span></label>
                                </div>

                                <!-- Name -->
                                <div class="input-field col s6">
                                    <input name="name" id="name" type="text" class="validate" required="" aria-required="true">
                                    <label for="name">Name <span class="requiredField">*</span></label>
                                </div>

                                <!-- Date -->
                                <div class="input-field col s4">
                                    <input name="date" id="date" type="text" class="datepicker" required="" aria-required="true">
                                    <label for="date">Date <span class="requiredField">*</span></label>
                                </div>

                                <!-- Storage -->
                                <div class="input-field col s4">
                                    <input name="storage" id="storage" type="text" class="validate">
                                    <label for="storage">Storage</label>
                                </div>

                                <!-- Status -->
                                <div class="input-field col s4">
                                    <select name="status" class="status">
                                        <option class="waiting" value="Waiting">Waiting</option>
                                        <option class="editing" value="Editing">Editing</option>
                                        <option class="missing" value="Missing">Deleted</option>
                                        <option class="completed" value="Complete">Complete</option>
                                        <option class="missing" value="Missing-Song-info">Missing Song and Info</option>
                                    </select>
                                    <label>Status</label>
                                </div>

                                <!-- Price Slider -->
                                <div class="input-field col s12 priceSection">
                                    <label class="priceLabel">Price $<span id="price">50</span> </label>
                                    <div onmouseup="" id="priceSlider"></div>
                                </div>

                                <!-- Notes -->
                                <div class="input-field col s6 notesField">
                                    <textarea name="notes" id="notes" class="materialize-textarea"></textarea>
                                    <label for="notes">Notes (additional info/song requests)</label>
                                </div>

                                <!-- Assigned To -->
                                 <div class="input-field col s6">
                                    <select id="teamData" name="assignedTo" class="assignedTo"></select>
                                    <label>Assigned To</label>
                                </div>


                                <div class="modal-footer input-field col s12">
                                    <button class="modal-action button-secondary waves-effect waves-light left" type="submit" id="register-btn-submit">
                                        <span>Submit</span>
                                    </button>

                                    <div class="alert-box">
                                        <span id="validation"></span>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <!-- Delete Event Modal -->
                    <div id="delete-modal" class="modal">
                        <div class="modal-content">
                            <h4>Are you sure you would like to delete this event?</h4>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Yes</a>
                            <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-1">No</a>
                        </div>
                    </div>

                    <nav class="search">
                        <div class="nav-wrapper">
                            <form>
                                <div class="input-field">
                                    <input id="search" type="search" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                </div>
                            </form>
                        </div>
                    </nav>

                    <div id="loadingSearchElement" class="progress">
                        <div class="indeterminate"></div>
                    </div>

                    <!-- EVENTS TABLE -->
                    <div class="tableSection">
                        <table id="eventsTable" class="table bordered highlight centered responsive-table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Event Type</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Storage</th>
                                    <th scope="col">Status</th>     <!-- Complete: Green, In Progress: yellow, N/A, On hold -->
                                    <th scope="col">Assigned to</th>
                                    <th scope="col">Notes</th>
                                    <th scope="col" colspan="2"><i class="material-icons previx">settings</i></th>

                                </tr>
                            </thead>

                            {{#unless companies}}
                                <tr>
                                    <td class="small success-msg" colspan="9" aria-colspan="9"> Welcome {{user.firstname}}! <br> Let's get started by creating a company in your manager 💻 🔝</td>
                                </tr>
                            {{/unless}}

                            <tr id="loadingElement">
                                <td colspan="9" aria-colspan="9">
                                    <div class="preloader-wrapper big active">
                                        <div class="spinner-layer spinner-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                        </div>

                                        <div class="spinner-layer spinner-red">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                        </div>

                                        <div class="spinner-layer spinner-yellow">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                        </div>

                                        <div class="spinner-layer spinner-green">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tbody class="list" id="table-data">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- loader -->
<script src="/js/eventLoader.js"></script>

<!-- List.js -->
<script type="text/javascript" src="/js/list.min.js"></script>

<!-- Price slider -->
<script src="https://refreshless.com/nouislider/distribute/nouislider.min.js"></script>
<script src="http://materializecss.com/extras/noUiSlider/nouislider.js"></script>

<!-- Events.js -->
<script type="text/javascript" src="/js/events.js"></script>


<!--
<script>

    // get input element
    let filterInput = document.getElementById('search-input');

    // add event listener
    filterInput.addEventListener('keyup', lookUpText);

    // This gets called when a user types something
    function lookUpText(){

        // get the value
        let filterValue = document.getElementById('search-input').value.toLowerCase();

        console.log(filterValue);
    }

</script>
-->

