<link rel="stylesheet" href="https://refreshless.com/nouislider/distribute/nouislider.min.css">
<link rel="stylesheet" href="http://materializecss.com/extras/noUiSlider/nouislider.css">

<section class="box">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="heading"> Update Event </h2>

                <ul class="alert-box">
                    {{#if success_msg}}
                        <li class="alert success-msg"> {{success_msg}} </li>
                    {{/if}}

                    {{#if error_msg}}
                        <li class="alert error-msg"> {{error_msg}} </li>
                    {{/if}}
                </ul>

                <!-- Add Event Form -->
                {{#if event}}
                    <form id="updateEventForm" action="/edit" method="POST">

                        <!-- Type -->
                        <div class="input-field col s6">
                            <select name="type" class="">
                                <option value="{{event.type}}" selected>{{event.type}}</option>
                                <option value="Wedding">Wedding</option>
                                <option value="Engagement">Engagement</option>
                                <option value="Holy Communion">Holy Communion</option>
                                <option value="Christening">Christening</option>
                                <option value="Birthday">Birthday</option>
                            </select>
                            <label>Event Type <span class="requiredField">*</span></label>
                        </div>

                        <!-- Name -->
                        <div class="input-field col s6">
                            <input value="{{event.name}}" name="name" id="name" type="text" class="validate" required="" aria-required="true">
                            <label class="active" for="name">Name <span class="requiredField">*</span></label>
                        </div>

                        <!-- Date -->
                        <div class="input-field col s6">
                            <input value="{{event.date}}" name="date" id="date" type="text" class="datepicker" required="" aria-required="true">
                            <label class="active" for="date">Date <span class="requiredField">*</span></label>
                        </div>

                        <!-- Status -->
                        <div class="input-field col s6">
                            <select name="status" class="">
                                <option class="{{event.status}}" value="{{event.status}}">{{event.status}}</option>
                                <option class="Missing" value="Missing song">Missing song</option>
                                <option class="Ready" value="Ready">Ready</option>
                                <option class="Editing" value="Editing">Editing</option>
                                <option class="Waiting" value="Waiting for answer">Waiting for answer</option>
                                <option class="Finished" value="Finished">Finished</option>
                            </select>
                            <label>Status</label>
                        </div>

                        <!-- Storage -->
                        <div class="input-field col s6">
                            <input value="{{event.storage}}" name="storage" id="storage" type="text" class="validate">
                            <label class="active" for="storage">Storage</label>
                        </div>

                        <!-- Notes -->
                        <div class="input-field col s6">
                            <textarea name="notes" id="notes" class="materialize-textarea">{{event.notes}}</textarea>
                            <label class="active" for="notes">Notes (additional info/song requests)</label>
                        </div>

                        <!-- Assigned To -->
                        <div class="input-field col s6">
                            <select name="assignedTo" class="assignedTo">
                                <option value="">No one</option>
                                <option selected value="{{event.assignedTo}}">{{event.assignedTo}}</option>
                                {{#each team}}
                                    {{#if name}}
                                        <option value="{{name}}">{{name}}</option>
                                    {{/if}}
                                {{/each}}
                            </select>
                            <label>Assigned To</label>
                        </div>

                        <input type="hidden" name="eventID" value="{{event._id}}">

                        <div class="modal-footer input-field col s12">

                            <div class="right">
                                <a href="/" class="button-secondary waves-effect waves-light cancelBtn" id="register-btn-submit">
                                    <span>Cancel</span>
                                </a>

                                <button class="button-secondary waves-effect waves-light" type="submit" id="register-btn-submit">
                                    <span>Update</span>
                                </button>
                            </div>

                            <div class="alert-box">
                                <span id="validation"></span>
                            </div>
                        </div>

                    </form>
                {{/if}}
            </div>
        </div>
    </div>

</section>

<!-- Price slider -->
<script src="https://refreshless.com/nouislider/distribute/nouislider.min.js"></script>
<script src="http://materializecss.com/extras/noUiSlider/nouislider.js"></script>

<!-- edit.js -->
<script type="text/javascript" src="/js/edit.js"></script>
