


<section class="loginForm box">

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="">
                    <div class="center">
                        <img class="logo-pg" src="/images/eventhub-logo.png">
                    </div>
                    <ul class="alert-box">
                        {{#if success_msg}}
                            <li class="alert success-msg"> {{msg}} </li>
                        {{/if}}

                        {{#each error_msg}}
                            <li class="alert error-msg"> {{msg}} </li>
                        {{/each}}
                    </ul>

                    {{#if user}}
                        <ul>
                            <li class="alert error-msg"> This username has already been taken.</li>
                        </ul>
                    {{/if}}

                    <form action="/users/register" method="POST">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">sentiment_very_satisfied</i>
                            <input name="firstname" value="{{firstname}}" id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>

                        <div class="input-field col s6">
                            <input name="lastname" value="{{lastname}}" id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input name="email" value="{{email}}" id="email" type="email" class="validate">
                            <label for="email">Email</label>
                            <span class="helper-text" data-error="Not valid" data-success="Valid"></span>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_box</i>
                            <input name="username" value="{{username}}" id="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input name="password" id="password" type="password" class="validate">
                            <label for="password">Password</label>
                            <span class="helper-text">Password must be atleast 6 characters.</span>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input name="password2" id="password2" type="password" class="validate">
                            <label for="password2">Re-Enter Password</label>
                        </div>

                        <div class="col s12">
                            <div id="loadingElement" class="center">
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>
                        </div>

                        <div class="input-field col s12 left">
                            <button onclick="loginLoader()" class="waves-effect waves-light button-secondary" type="submit" id="register-btn-submit">
                                <span>Sign Up</span>
                            </button>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</section>

<script src="/js/loading.js"></script>
